@model IEnumerable<AssessmentSystem.MVC.QuestionOption>

@{
    ViewBag.Title = "Todas as alternativas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor.ProfessorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCorrect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.ProfessorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionOptionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionOptionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionOptionId })
        </td>
    </tr>
}

</table>
